body, h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
}
  * {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

  img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
/* Create two equal columns that floats next to each other */
  
.container{
  padding: 10px 10%;
}
.container1{
  padding: 10px 10%;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    padding-bottom: 0%; 
  }
  .column1 {
    float: left;
    display: block;
    padding: 10px;
    padding-bottom: 0%;
  }
  .pogi{
    width: 100%;
    height: auto;
  }

  .planguages{
    width: 50px;
    max-width: 100%;
    height: auto;
  }
  .soc{
    width: 23px;
    max-width: 100%;
    height: auto;
  }
  .proj{
    width:100%;;
    max-width: 490px;
    height: auto;
    border: none;
    border-radius: 8px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  h1{
    font-weight: bold;
    font-size: 40px;
    color: #d9d9d9;
  }
  h2{
     color: #d9d9d9;
  }
  h3{
    color: #d9d9d9;
  }
  h4{
    color: #d9d9d9;
  }
  h5{
    color: #d9d9d9;
  }
  p{
    color: #d9d9d9;
    font-family: montserrat;
    font-size: 14px;
  }
  /* Header styles */

  header {
    background-color: #2E3047;
    height: 60px;
    color: #d9d9d9;
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    font-size: 50px;
    margin-right: auto;
    font-family: montserrat;
    padding-left: 0 100px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    font-family: montserrat ;
    padding-right: 0 100px;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 15px ;
  }

  nav ul li:hover {
    color: #2E3047;
    background-color: #d9d9d9;

    border-radius: 3px;
  }
  
  /* Main content styles */
  main {
    padding: 20px;
    font-family: montserrat ;
    background-image: linear-gradient(#444444, #555555, gray);
    padding-bottom: 0px;
  }
  
  /* sections */
  .home {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
  }
  .about {
    font-family: montserrat;
    background-color: #444444;
    text-align: center;
    padding: 20px;
  }
  .contacts{
    font-family: montserrat;
    background-color: #777777;
    text-align: center;
    padding: 20px
  }


  /*hover image*/
  .img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);

    
  }
  @keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
      -webkit-transform: translateY(0);
      -ms-transform:     translateY(0);
      transform:         translateY(0)
    }
    40% {
      -webkit-transform: translateY(-30px);
      -ms-transform:     translateY(-30px);
      transform:         translateY(-30px)
    }
    60% {
      -webkit-transform: translateY(-15px);
      -ms-transform:     translateY(-15px);
      transform:         translateY(-15px)
    }
  }
  .planguages {  
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  .planguages:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

  .projects {
    
    font-family: montserrat;
    background-color: #555555;
    text-align: center;
    padding: 20px
  }
  .education {
    
    font-family: montserrat;
    background-color: #666666;
    text-align: center;
    padding: 20px
  }

  
  /* Footer styles */
  footer {
    background-color: #2E3047;
    color: #d9d9d9;
    text-align: center;
    padding: 5px;
  }

  /*button*/
  .button {
    background: transparent;
    border: none;
    color: #2E3047;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    font-weight: bold;
    border: 2px solid #2E3047;
  }
  .btn {
    background-color:#2E3047  ;
    border: none;
    color: #d9d9d9;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 50px;
    cursor: pointer;
    width: 200px;
    font-weight: bold;

    float: left;
    border: 2px solid #2E3047;
  }
  .btn:hover {
    background: transparent;
    color: #2E3047
  }
  .button:hover {
    background-color: #2E3047;
    color: #d9d9d9
  }

  
  
  .button3 {border-radius: 8px;}

  #menu-toggle {
    display: none;
  }
  
  /* Responsive nav bar */

 /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
    .logo {
      font-size: 30px;
      padding-left: 10px;
    }

/* Add styling for the hamburger icon */
.menu-icon {
  display: block;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

/* Add styling for the close icon when the dropdown is shown */
.menu-icon.close {
  display: none;
}

/* Show the menu when the checkbox is checked */
#menu-toggle:checked ~ nav ul{
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
}

/* Hide the menu when the checkbox is not checked */
#menu-toggle:not(:checked) ~ nav ul {
  display: none;
}

/* Add styles for the navigation links */
nav ul {
  list-style-type: none;
  font-family: montserrat;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 70vh;
  background: #2E3047;
  border-radius: 8px;
  border : 2px solid #d9d9d9;
  top: 80px;
  left: -100%;
  text-align: center;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #2E3047;
  background-color: #d9d9d9;
  border-radius: 5px;
}
}
  /* Additional styles for larger screens */
  @media screen and (min-width: 769px) {
    .logo {
      font-size: 30px;
      padding-left: 50px;
    }
  
    nav ul {
      display: block;
    }
  
    nav ul li {
      margin: 0 10px;
    }
  
    nav ul li a {
      padding: 10px;
    } 
  
    /* Hide the hamburger icon for larger screens */
    .menu-icon {
      display: none;
    }
  }   
  /*vertical line*/
  .vertical-line {
    position: relative;
    width: 4px;
    height: 200px;
    background-color: #2E3047;
    border-radius: 2px; /* Adjust this value to control the roundness of the edges */
  }
  
  .vertical-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 60px; /* Adjust this value to control the size of the rounded edges */
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .vertical-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 60px; /* Adjust this value to control the size of the rounded edges */
    background-color: #d9d9d9;
    border-radius: 8px;
  }


  .ico{
    width: 23px;
    max-width: 100%;
    max-height:100%;
    height: auto;
    padding-top: 10px;
  }
  .image-with-text {
    width: 100%;
    max-width: 500px; /* Adjust this as needed */
  }
  
  .image-with-text img {
    float: left;
    margin-right: 10px; /* Add some spacing between the image and text */
  }

  .row .column .image-with-text{
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .txt{
    max-width: 800px;
    margin: 0 auto;
    padding: 11px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .contacts .row .column h3 {
    text-align: left;
    text-align: justify; 
    margin: 0;
    padding: 0%;
    padding-right: 10%; 
    padding-left: 10%;
  }
  .contacts .row .column p {
    text-align: left;
    text-align: justify; 
    padding-right: 10%; 
    padding-left: 10%;
    margin-bottom: 10%;
  }

  .contact-container h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea {
    padding: 20px;
    font-family: montserrat;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: transparent;
  }
  ::placeholder {
    color: #d9d9d9;
    opacity: 1; /* Firefox */
  }

  .sub {
    font-family: montserrat;
    background-color: #2E3047;
    color: #d9d9d9;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .response {
    text-align: center;
    margin-top: 10px;
    color: #007BFF;
    font-weight: bold;
  }


  

#education-experience {
  background-color: #666666;
  padding: 50px 0;
  font-family: montserrat;
}

#education-experience .container .wrapper .topper-title {
  text-align: center;
  padding: 30px 0;
  background-color: #d9d9d9;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900
}

#education-experience .container .wrapper .timeline {
  display: flex;
  justify-content: center
}


.timeline {
  overflow: hidden
}

.timeline .timeline-content {
  display: flex;
  height: 100%;
  justify-content: flex-start
}

.timeline .timeline-content .line {
  background-color: #d9d9d9;
  width: 10px;
  border-radius: 10px
}

.timeline .timeline-content .details .detail-block {
  margin: 30px 0
}

.timeline .timeline-content .details .detail-block .context,.timeline .timeline-content .details .detail-block .title {
  margin-left: 30px;
}

.timeline .timeline-content .details .detail-block .title {
  padding: 20px 30px
}

.timeline .timeline-content .details .detail-block .context {
  padding: 10px 0;
  color: #f8f8f8
}

.timeline .timeline-content .details .detail-block .context a {
  color: #f8f8f8
}

.timeline .timeline-content .details .detail-block .context ul li {
  list-style-position: inside
}

.timeline .timeline-content .details .detail-block .title {
  background-color: #2E3047;
  color: #000;
  border-radius: 10px;
}

.timeline .timeline-content .details .topper {
  display: flex;
  margin: 50px 0 50px -15px
}

.timeline .timeline-content .details .topper .year {
  color: #f8f8f8
}

.timeline .timeline-content .details .topper .dot {
  width: 23px;
  height: 23px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px
}

/*  SKILLS */

.skills{
  margin-top: 150px;
  margin-left: 120px;
  min-height: auto;
  padding-bottom: 7rem;
  
}
.skills .heading{
   margin-bottom: 20px;
}
.skills .skills-row{
   margin-bottom: .2px;
   display: flex;
   flex-wrap: wrap;
   
}

.skills-box{
   margin-bottom: -100px;
   margin-left: 260px;
   display: flex;
   align-items: center;
   justify-content: center;
}

   
.skills-box .skills-content{
   position: relative;
   text-align: center;
   position: relative;
   border: .3rem solid lightgray;
   border-radius: .6rem;
   width: 700px;
   height: 595px;
   padding: 0 50px;
   z-index: 1;
   overflow: hidden;
}
.skills-box .skills-content::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background: rgba(255, 255, 255, 0.485);
   z-index: -1;
   transition: .5s;
}
.skills-box .skills-content:hover::before{
   width: 100%;

}

.skills-content .progress{
   padding:  5px;
   
}

.skills-content .progress h3{
   font-size: 20px;
   display: flex;
   justify-content: space-between;
}

.skills-content .progress .bar{
   height: 10px;
   border-radius: .6rem;
   border: .2rem solid lightgray;
   padding: 2px;
   margin-bottom: 3px;
}
.skills-content .progress .bar span{
   display: block;
   height: 100%;
   border-radius: .3rem;
   background: lightgray;
}



.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
   width: 60%;
}
.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
   width: 80%;
}.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
   width: 70%;
}.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
   width: 75%;
}.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
   width: 75%;
}.skills-coloumn:nth-child(1) .skills-content .progress:nth-child(6) .bar span{
   width: 60%;
}